*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-image:url(Galaxia.jpg);
    display: flex;
    min-height: 100wh;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

form {
    margin-top: 30%;
     width: 60%;
   
     background: rgba(0,0,0,0.6);
    padding: 30px;
    border:2px solid white;
    border-radius: 12px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
} 

input[type="submit"] {
    width: 40%;
    float: right;
    background-color: transparent;
    border:1px solid white;
    color: aliceblue;
    border-radius: 20px;
}
.inicio{
     display: block;
    padding: 10px;
    margin: 30px 0;
    font-size: 20px;
    width: 40%;
    float: left;
    background-color: transparent;
    border:1px solid white;
    color: aliceblue;
    border-radius: 20px;
}
@media (max-width:760px){
    form {width: 75%};
}
@media (max-width:480px){
    form {width: 100%;
    };
}